.Textarea {
  font: normal normal 20px/29px Gilroy;
  color: #707070;
  opacity: 0.8;
  padding-left: 5px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #2d81f7;
  border-radius: 8px;
  margin-bottom: 30px;
  display: block;
  width: 100%;
}
.Textarea::placeholder {
  opacity: 0.5;
}

.Teacher-Label {
  font: normal normal 22px/29px Gilroy;
  letter-spacing: 0px;
  color: #566775;
}

.title-desc {
  margin-bottom: 0px;
  font: normal normal 300 32px/50px Gilroy;
  letter-spacing: 0.84px;
  color: #566775;
  margin-top: 50px;
}

.CKEditor {
  font: normal normal 20px/29px Gilroy !important;
  color: #707070 !important;
  opacity: 0.8;
  padding-left: 5px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #2d81f7;
  border-radius: 8px;
  margin-bottom: 30px;
  display: block;
  width: 100%;
}
