.video-list {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  border-radius: 17px;
  background: white;
  cursor: pointer;
  /* box-shadow: 1px 1px 5px rgba(140, 161, 190, 0.6), 
    -1px -1px 5px  
    rgba(255, 255, 255, 0.342);
     */
}
.video-list:hover {
  background: #c2dbdb;
}
/* .player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) 
  }
   
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  } */

.play-title {
  opacity: 1 !important;
  padding: 15px;
  font: normal normal 16px/19px Gilroy;
  letter-spacing: 0px;
  color: #051c30;
}
.video-duration {
  font: normal normal medium 24px/29px Gilroy;
  letter-spacing: 0px;
  color: #566775;
}

.fa-play-circle,
.fa-pause-circle {
  color: rgb(85, 84, 84) !important;
  font-size: 18px !important;
}

.VideoSelected {
  /* background:#08BD80; */
  background: #c2dbdb;
  border: 1.4px solid #1b4ead81;
}

.VideoNotSelected {
  box-shadow: 1px 1px 5px rgba(140, 161, 190, 0.6),
    -1px -1px 5px rgba(255, 255, 255, 0.342);
}

.fa-check-circle {
  color: green;
}
.VideoCompleted {
}

.video-duration {
  padding: 15px;
}
/* 
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  
  background: grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1e90ff;
} */
