.Input {
    width:300px;
    padding:0px;
    box-sizing:border-box;
}



.InputElement {
    outline: none;
    border: 1px solid #2D81F7;
    display:block;
    width: 100%;
    height:36px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    font:normal normal normal 15px/12px Gilroy;
    letter-spacing: 0px;
    color: #707070;
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
    

}

.InputElement:focus {
    outline:none;

    
}

.Invalid{
    border:1px solid red;
    /* color: rgb(155, 34, 34); */
    /* background: rgba(250, 128, 114, 0.815); */
  
}

.Valid{
    border: 1px solid rgb(77, 212, 23);
    /* background:rgba(41, 201, 41, 0.432); */
    color: black;
}

.error-msg{

    line-height:normal;
    padding:6px;
    
}